{% extends 'base.html' %}
{% load static %}
{% block content %}
    <ul>
        <li><a href="{% url 'mp_home' %}">Maintain Parcels in SGMA program</a></li>
        <li><a href="{% url 'acctview_home' %}">Account View</a></li>
        <li><a href="{% url 'mw_home' %}">Maintain Wells</a></li>
        <li><a href="{% url 'readings_home' %}">Readings</a></li>
        <hr>
        <li><a href="{% url 'ar_home' %}">Allocation Request</a></li>
        <li><a href="{% url 'wa_home' %}">Well Associations</a></li>
        <li><a href="{% url 'imd_home' %}">Import Meter Data</a></li>
        <li><a href="{% url 'au_home' %}">Apply use to Accounts</a></li>
    </ul>
{% endblock %}
