{% extends 'base.html' %}
{% load static %}
{% block content %}
    <br>
    <style>
    /* Target the anchor (link) elements and apply the following styles */
    a {
      color: black; /* Change the color to black (or any color you prefer) */
      text-decoration: none; /* Remove the underline */
    }

    /* Optionally, you can add styles for visited links as well */
    a:visited {
      {#color: purple; /* Change the color of visited links (if desired) */#}
        color: black;
    }
    </style>

    <a href="{% url 'acctview_home' %}"><img src="{% static 'account-group.svg' %}" width="20" height="20">
        &nbsp;&nbsp;
        Accounts
    </a>
    <br>
    <a href="{% url 'mw_home' %}"><img src="{% static 'water-well-outline.svg' %}" width="20" height="20">
        &nbsp;&nbsp;
       Wells
    </a>
    <br>
    <a href="{% url 'readings_home' %}"><img src="{% static 'counter.svg' %}" width="20" height="20">
        &nbsp;&nbsp;
        Readings
    </a>
    <hr>
    <a href="{% url 'gw_input_params' %}"><img src="{% static 'calculator.svg' %}" width="20" height="20">
        &nbsp;&nbsp;
        Groundwater Extraction Calculation.
    </a>
    {#        <li><a href="{% url 'mp_home' %}">Parcels</a></li>#}
    {#        <hr>#}
    {#        <li><a href="{% url 'ar_home' %}">Allocation Request</a></li>#}
    {#        <li><a href="{% url 'wa_home' %}">Well Associations</a></li>#}
    {#        <li><a href="{% url 'imd_home' %}">Import Meter Data</a></li>#}
    {#        <li><a href="{% url 'au_home' %}">Apply use to Accounts</a></li>#}
    {#        <hr>#}

{% endblock %}
