{% extends 'base.html' %}
{% load static %}
{% block content %}
    <ul>
        <li><a href="{% url 'acctview_home' %}">Accounts</a></li>
        <li><a href="{% url 'mw_home' %}">Wells</a></li>
        <li><a href="{% url 'readings_home' %}">Readings</a></li>
        <hr>
{#        <li><a href="{% url 'mp_home' %}">Parcels</a></li>#}
{#        <hr>#}
{#        <li><a href="{% url 'ar_home' %}">Allocation Request</a></li>#}
{#        <li><a href="{% url 'wa_home' %}">Well Associations</a></li>#}
{#        <li><a href="{% url 'imd_home' %}">Import Meter Data</a></li>#}
{#        <li><a href="{% url 'au_home' %}">Apply use to Accounts</a></li>#}
{#        <hr>#}
        <li><a href="{% url 'gw_input_params' %}">Groundwater Extraction Calculation.</a></li>
    </ul>
{% endblock %}
