{% extends 'base.html' %}
{% load static %}
{% block content %}
    <form method="post">
    {% csrf_token %}
    <h3>Groundwater Calculation - Input Parameters</h3><br>
    <div class="container">
        <div class="row">
            <div class="col-3">From Date:</div>
            <div class="col-6">
                <input id="gc_from_date" name="gc_from_date"
                       type="date" value="{{ from_date }}" onchange="save_inp_val('gc_from_date')" >
            </div>
        </div>
        <div class="row">
            <div class="col-3">To Date:</div>
            <div class="col-6">
                <input id="gc_to_date" name="gc_to_date"
                        type="date" value="{{ to_date }}" onchange="save_inp_val('gc_to_date')">
            </div>
        </div>
        <div class="row">
            <div class="col-3">Calc / Post Date:</div>
            <div class="col-6">
                <input id="gc_calc_date" name="gc_calc_date"
                       title="This is the date that will be used to fill wtrtrans.date field."
                        type="date" value="{{ calc_date }}"  onchange="save_inp_val('gc_calc_date')">
            </div>
        </div>
        <hr>

        <div class="row" id="code1">
            <div class="col-3">TC Code:</div>
            <div class="col-6">
                <input id="gc_tc_code" name="gc_tc_code"
                       type="text" value="{{ tc_code }}" onchange="save_inp_val('gc_tc_code')">
                <small class="form-text text-muted hidden" id="gc_tc_code_sv">Suggested value: TC0040</small>
            </div>
        </div>
        <div class="row" id="code2">
            <div class="col-3">CC SGMA:</div>
            <div class="col-6">
                <input id="gc_code_code" id="gc_code_code"
                        type="text" value="{{ code_code }}" onchange="save_inp_val('gc_code_code')">
                <small class="form-text text-muted hidden" id="gc_code_code_sv">Suggested value: CC0013</small>
            </div>
        </div>
        <div class="row" id="code3">
            <div class="col-3">CC Exclude:</div>
            <div class="col-6">
                <input id="gc_cc_exclude" id="gc_cc_exclude"
                        type="text" value="{{ code_code }}" onchange="save_inp_val('gc_cc_exclude')">
                <small class="form-text text-muted hidden" id="gc_cc_exclude_sv">Suggested value: CC0014</small>
            </div>
        </div>

        <hr>
        <div class="row">
            <div class="col-3">
                <button type="submit" name="action" value="calc"
                {% if not isadmin %} disabled {% endif %} >
                    Calculate
                </button>
            </div>
            <div class="col-3">
                <button type="submit" name="action" value="view">
                    View Results
                </button>
            </div>

            <div class="col-3">
                {% if isadmin %}
                <button type="submit" name="action" value="postdata" title="{{ postbtninfo }}" {{ postbtnstate }}>
                    Post Data
                </button>
                {% endif %}
            </div>

        </div>
    </div>
    </form>
    &nbsp;
    <br>
    <div class="container" id="lastcalc">
        <!--
        Bootstrap Accordion information
        https://getbootstrap.com/docs/5.0/components/accordion/
        -->

        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Previous Calculation
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
{#                <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.#}

{#        <div class="row">#}
{#            Previous Calculations#}
{#        </div>#}
        <div class="row">
            <div class="col">State</div>
            <div class="col">Time Stamp</div>
            <div class="col">Parameters</div>
            <div class="col">Errors</div>
        </div>
       {% for r in results %}
        <div class="row">
            <div class="col">{{ r.process_state }}</div>
            <div class="col">{{ r.updated }}</div>
            <div class="col">{{ r.params }}</div>
            <div class="col">{{ r.errors }}</div>
        </div>
        {% endfor %}

              </div>
            </div>
          </div>
        </div>

    </div>

<script src="{% static 'gwcalc_inputs.js' %}"></script>
{% endblock %}
