{% extends 'base.html' %}
{% load static %}
{% block content %}
    Version Information here
    <hr>
    <h3>1.1.7</h3>
    <ul>
    <li>Add two django user groups defined by .env
        variables <i>ADMINGROUP</i> and <i>USERGROUP</i>
        to be used to limit data update and access.  The groups
        are defined in the .env file.  Here are examples:</li><br>
        <ul>
        <li>ADMINGROUP=wmisadmin</li>
        <li>USERGROUP=wmisuser</li>
            <br>
        </ul>
        In order to allow a user to update data, the user must be a
        member of the <i>ADMINGROUP</i> group.
    </ul>

    <h3>1.1.6</h3>
    <ul>
    <li>
        Updated gwcalc/input-params to display previous calculations inside an accordion component.
        User can view details of previous calculations by clicking on the accordion header.
    </li>
    </ul>
    <h3>1.1.5</h3>
    <ul>
    <li>Re-label gwcalc Calc field, and added mouse over text on the input field.<br>
        <i>"This is the date that will be used to fill wtrtrans.date field."</i>
        <br>
    </li>
    <li>Added a new page to display the version information</li>
    </ul>
    <h3>20230816a</h3>
    <ul>
    <li>Add version number to footer</li>
    <li>Change the way the version number is displayed</li>
    </ul>
{% endblock %}
