{% extends 'base.html' %}
{% load static %}
{% block content %}
    Version Information here
    <hr>
    <h3>1.1.5</h3>
    <ul>
    <li>Re-label gwcalc Calc field, and added mouse over text on the input field.<br>
        <i>"This is the date that will be used to fill wtrtrans.date field."</i>
        <br>
    </li>
    <li>Added a new page to display the version information</li>

    </ul>

    <h3>20230816a</h3>
    <ul>
    <li>Add version number to footer</li>
    <li>Change the way the version number is displayed</li>
    </ul>
{% endblock %}
