{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h2>Account: {{ account_id }} </h2><br>
    <div class="container">
        <div class="row">
            <div class="col-4">
                {% for a in account %}
                    <div class="row">
                        {{ a }}
                    </div>
                {% endfor %}
            </div>
            <div class="col-1">
                &nbsp;
            </div>
            <div class="col-7">
                <div class="row">
                    <div class="col-3">Well ID</div>
                    <div class="col-2">Amount</div>
                    <div class="col-3">Begin Date</div>
                    <div class="col-3">Owner Type</div>
                    <div class="col-1">#</div>
                </div>

                {% for w in wells %}
                    <div class="row">
                        <div class="col-3"><a href="{% url 'display_well_details' w.well_id %}">{{ w.well_id }}</a></div>
                        <div class="col-2">{{ w.amount }}</div>
                        <div class="col-3">{{ w.begindate }}</div>
                        <div class="col-3">{{ w.ownertype }}</div>
                        <div class="col-1">{{ w.ownercount }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    <hr>
        <div class="row">
            <div class="col-4">
                &nbsp;
            </div>
            <div class="col-1">
                &nbsp;
            </div>
            <div class="col-7">
                <div class="row">
                    <div class="col-2">Category</div>
                    <div class="col-6">&nbsp;</div>
                    <div class="col-2">Balance</div>
                    <div class="col-1">Priority</div>
                </div>

                {% for b in balance %}
                    <div class="row">
                        <div class="col-2">{{ b.code_id }}</div>
                        <div class="col-6">{{ b.code_text }}</div>
                        <div class="col-2">{{ b.qty }}</div>
                        <div class="col-1">{{ b.priority }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock %}

