/*:root {*/
/*    --bg-color: #ffffff;*/
/*    --text-color: #000000;*/
/*    --fg-color: #000000;*/
/*}*/

body {
    background-color: #ffffff;
    color: #000000;
}

div.heading {
    font-weight: bold;
}

/* Alternating rows for boostrap grid */
/* ref: https://itecnote.com/tecnote/css-alternating-row-colors-in-bootstrap-3-no-table/ */

.row:nth-child(even) {
    background-color: #96caef;
}

.row:nth-child(odd) {
    background-color: #ffffff;
}

#danger-text {
    background-color: red;
    color: #000000;
}

.icon {

}

.bg-body-tertiary {
    background-color: #ffffff;
}

